h1,h2,h3,h4,h5,h6,p {
  margin: 0
}

ul {
  margin: 0;
  padding: 0;
  list-style: none
}

a {
  color: currentColor;
  text-decoration: none
}

button {
  cursor: pointer
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: all .3s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

body {
  font-family: Epilogue,sans-serif;
  color: #141414;
  background-color: #ffffff;
  margin: 0;

}

.list {
  list-style: none
}



.link {
  text-decoration: none
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto
}

.project-margin {
  margin-bottom: 80px
}

.header {
  
  background-color: #03034f;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tryzub {
  margin: 0 auto;
  margin-bottom: 4px;
}

.okrug {
 font-size: 22px;
 margin-bottom: 5px;
}

.pib {
  font-size: 22px;
  font-weight: normal;
}
.address-list {
  padding-bottom: 4px;
}

.attorney {
  padding-top: 12px;

}

.attorney-list {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}



.attorney-item-wrapper {
  position: relative;
}

.phone-btn {
  margin-top: 20px;
}

.attorney-title {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;


}


.order-btn {
font-family: inherit;
font-weight: 300;
font-size: 8px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: #4D5AE5;
cursor: pointer;
padding: 4px 8px;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border: none;
margin: 0 auto 20px;
/* margin-top: 48px; */
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.attorney-pic-description {
  font-size: 15px;
  color: #ffffff;


}







@media screen and (min-width: 768px) {
  .container {
      max-width:768px;
      padding-left: 32px;
      padding-right: 32px
  }

  .project-margin {
      margin-bottom: 128px
  }
}

@media screen and (min-width: 1280px) {
  .container {
      max-width:1280px;
      padding-left: 52px;
      padding-right: 52px
  }

  .project-margin {
      margin-bottom: 160px
  }
}